 body {
    background: url(./images/marble.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.dark-mode {
    background-color: black;
    color: white;
  }
.home-content {
    justify-content: center;
    background: transparent;
    max-width: 2000px;
    color: black;
    font-family: 'Artifika';font-size: 22px;


}
.home-content h1{
    font-size: 50px;
    font-weight: 100;
    color: black;
    font-family: 'Artifika';font-size: 22px;

}
.home-content h3{
    font-size: 32px;
    font-weight: 100;
    color: black;
    font-family: 'Artifika';font-size: 22px;

}
.home-content p{
    font-size: 16px; 
}
.home-content btn-box{
    width: 345px;
    height: 50px;
    color: black;
    font-family: 'Artifika';font-size: 22px;
}
.btn-box{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50%;
    background: transparent;
    border: 2px solid #00ffff;
    border-radius: 8px;
}
.mb-3{
    width: 345px;
    height: 50px;

}
.btn-check{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50%;
    background: transparent;
    border: 2px solid #00ffff;
    border-radius: 8px;

}